apiVersion: apps/v1
kind: Deployment
metadata:
  name: static-sites
  labels:
    app: static-sites
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: static-sites
  template:
    metadata:
      labels:
        app: static-sites
    spec:
      containers:
      - name: static-sites
        image: ghcr.io/collinvandyck/static-sites:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
          name: http
        resources:
          requests:
            memory: "32Mi"
            cpu: "10m"
          limits:
            memory: "64Mi"
            cpu: "100m"
        livenessProbe:
          httpGet:
            path: /
            port: 8080
            httpHeaders:
            - name: Host
              value: resume.5xx.engineer
          initialDelaySeconds: 5
          periodSeconds: 30
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /
            port: 8080
            httpHeaders:
            - name: Host
              value: resume.5xx.engineer
          initialDelaySeconds: 2
          periodSeconds: 10
          timeoutSeconds: 3
          failureThreshold: 2
