apiVersion: v1
kind: Service
metadata:
  name: static-sites
  labels:
    app: static-sites
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: static-sites
