apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    # Let's Encrypt production server
    server: https://acme-v02.api.letsencrypt.org/directory

    # Your email (for expiration notifications)
    email: collinvandyck@gmail.com

    # Secret to store the ACME account private key
    privateKeySecretRef:
      name: letsencrypt-prod

    # Use HTTP-01 challenge via Traefik ingress
    solvers:
    - http01:
        ingress:
          class: traefik
