localhost {
    respond "helloo https"
}

ubuntu-test:80 {
    reverse_proxy localhost:3000
}

# this should work with caddy tls
ubuntu-test.neon-stargazer.ts.net {
    reverse_proxy localhost:3000
}

ubuntu-test.neon-stargazer.ts.net:80 {
    respond "ubuntu-test.neon-stargazer.ts.net 80"
}

pihole.ubuntu-test.5xx.engineer {
    # todo: reverse proxy to the tailnet hsot
    reverse_proxy localhost:3000
}

pihole.ubuntu-test.5xx.engineer:80 {
    forward_auth unix//run/tailscale.nginx-auth.sock {
		uri /auth
		header_up Remote-Addr {remote_host}
		header_up Remote-Port {remote_port}
		header_up Original-URI {uri}
		copy_headers {
			Tailscale-User>X-Webauth-User
			Tailscale-Name>X-Webauth-Name
			Tailscale-Login>X-Webauth-Login
			Tailscale-Tailnet>X-Webauth-Tailnet
			Tailscale-Profile-Picture>X-Webauth-Profile-Picture
		}
	}
	respond "pihole remote-host:{remote_host} remote:{remote}"
}
