{
    tailscale {
        ephemeral # create all nodes as ephemeral
    }
	log access {
		output file /var/log/caddy/access.log {
			roll_size 1gb
			roll_keep 2
			roll_keep_for 24h
		}
		format json
		include http.log.access
	}
}

5xx.engineer vps.neon-stargazer.ts.net {
	log
	encode zstd gzip
	respond "Hello, {remote_host}:{remote_port}"
}

atuin.5xx.engineer {
	log
	encode zstd gzip
	reverse_proxy localhost:8888
}

rss.5xx.engineer {
	log
	encode zstd gzip
	reverse_proxy localhost:8880
}

home.5xx.engineer {
	log
	encode zstd gzip
	reverse_proxy localhost:8881
}

portainer.5xx.engineer {
	log
	reverse_proxy https://localhost:8882 {
		transport http {
			tls tls_insecure_skip_verify
		}
	}
}

dotfiles.5xx.engineer {
	log
	root * /srv/dotfiles
	header {
		Content-Type text/plain
	}
	file_server {
		index install.sh
	}
}

grafana.5xx.engineer {
	log
	encode zstd gzip
	reverse_proxy localhost:8883
}

resume.5xx.engineer {
	log
	encode zstd gzip
	root * /srv/resume
	file_server {
		index 5xx.engineer.html
	}
}

glances.5xx.engineer {
	encode zstd gzip
	reverse_proxy localhost:8884
}

# sites only accessible over the vpn
pihole.neon-stargazer.ts.net {
    bind tailscale/pihole
	reverse_proxy localhost:8885
}
