{
    tailscale {
        ephemeral # create all nodes as ephemeral
    }
    log access {
        output file /var/log/caddy/access.log {
            roll_size 1gb
            roll_keep 2
            roll_keep_for 24h
        }
        format json
        include http.log.access
    }
}

vps.neon-stargazer.ts.net {
    log
    encode zstd gzip
    respond "Hello, {remote_host}:{remote_port}"
}

5xx.engineer {
    redir https://www.5xx.engineer{uri}
}

www.5xx.engineer {
    log {
        output file /var/log/caddy/access-www.log {
            roll_size 1gb
            roll_keep 2
            roll_keep_for 24h
        }
        format json
    }
    encode zstd gzip
    reverse_proxy localhost:8092
}

atuin.5xx.engineer {
    log
    encode zstd gzip
    reverse_proxy localhost:8888
}

rss.5xx.engineer {
    log
    encode zstd gzip
    reverse_proxy localhost:8880
}

home.5xx.engineer {
    log
    encode zstd gzip
    reverse_proxy localhost:8881
}

portainer.5xx.engineer {
    log
    reverse_proxy https://localhost:8882 {
        transport http {
            tls tls_insecure_skip_verify
        }
    }
}

dotfiles.5xx.engineer {
    log
    root * /srv/dotfiles
    header {
        Content-Type text/plain
    }
    file_server {
        index install.sh
    }
}

grafana.5xx.engineer {
    log
    encode zstd gzip
    reverse_proxy localhost:8883
}

resume.5xx.engineer {
    log
    encode zstd gzip
    root * /srv/resume
    file_server {
        index 5xx.engineer.html
    }
}

archivebox.5xx.engineer {
    encode zstd gzip
    reverse_proxy localhost:8091
}

# sites only accssible over the vpn but with caddy certificate
# provisioning.

foo.baz.5xx.engineer {
    tls {
        dns hetzner {env.CADDY_HETZNER_DNS_TOKEN}
    }
    respond "foo @ baz ({remote_host}:{remote_port})"
}

foobar.5xx.engineer {
    tls {
        dns hetzner {env.CADDY_HETZNER_DNS_TOKEN}
    }
    respond "foobar ({remote_host}:{remote_port})"
}

# sites only accessible over the vpn

https://blog.neon-stargazer.ts.net {
    bind tailscale/blog
    reverse_proxy localhost:8092
}

https://glances.neon-stargazer.ts.net {
    bind tailscale/glances
    reverse_proxy localhost:8884
}

https://nextcloud.neon-stargazer.ts.net {
    bind tailscale/nextcloud
    reverse_proxy localhost:8090
}

https://pihole.neon-stargazer.ts.net {
    bind tailscale/pihole
    redir / /admin
    reverse_proxy localhost:8885
}

https://proxmox.neon-stargazer.ts.net {
    bind tailscale/proxmox
    reverse_proxy https://192.168.0.137:8006 {
        transport http {
            tls tls_insecure_skip_verify
        }
    }
}

https://asus-router.neon-stargazer.ts.net {
    bind tailscale/asus-router
    reverse_proxy http://192.168.0.1
}

https://immich.neon-stargazer.ts.net {
    bind tailscale/immich
    reverse_proxy http://localhost:2283
}
