{
	log access {
		output file /var/log/caddy/access.log {
			roll_size 1gb
			roll_keep 2
			roll_keep_for 24h
		}
		format json
		include http.log.access
	}
}

5xx.engineer {
	log
	encode zstd gzip
	respond "Hello, {remote_host}:{remote_port}"
}

atuin.5xx.engineer {
	log
	encode zstd gzip
	reverse_proxy atuin:8888
}

rss.5xx.engineer {
	log
	encode zstd gzip
	reverse_proxy freshrss:80
}

home.5xx.engineer {
	log
	encode zstd gzip
	reverse_proxy homepage:3000
}

portainer.5xx.engineer {
	log
	reverse_proxy https://portainer:9443 {
		transport http {
			tls tls_insecure_skip_verify
		}
	}
}

dotfiles.5xx.engineer {
	log
	root * /srv/dotfiles
	header {
		Content-Type text/plain
	}
	file_server {
		index install.sh
	}
}

grafana.5xx.engineer {
	log
	encode zstd gzip
	reverse_proxy grafana:3000
}

resume.5xx.engineer {
	log
	encode zstd gzip
	root * /srv/resume
	file_server {
		index 5xx.engineer.html
	}
}

glances.5xx.engineer {
	encode zstd gzip
	reverse_proxy glances:61208
}

pihole.vpn.5xx.engineer {
	log {
		output file /var/log/caddy/pihole.log
		format json
	}
	respond "pihole remote-host:{remote_host}"
	
	# if caddy running in bridged mode, it will only see the docker gateway ip
	# address, and as such forward_auth + tailscale will not work since it is
	# not a tailnet ip.
	# 
	# running caddy in host mode means that it will not be able to connect to
	# other reverse proxies that are running behind the bridge.
	# 
	# it's possible that i probably just need a different deployment mechanism
	# besides docker-compose. Until then, this vhost will remain unconnected to
	# the pihole container.
}
